<div class="container">
    <h1>
        Morelia tweets
        <small>
            {{tweets.length}}
        </small>
    </h1>
    <div class="text-center text-muted" ng-if="!tweets" ng-style="{'margin-top':'20%'}">
        <h2>
                Cargando tweets
        </h2>
    </div>
    <div ng-repeat="tweet in tweets" class="jumbotron" ng-if="tweet.text">

        <h2>
            <a href="http://twitter.com/{{tweet.user}}" ng-if="tweet.user" target="_blank">
                {{'@' + tweet.user}}
            </a>

            <small>
                <span class="label" ng-class="{'label-success': tweet.sentiment.score > 0, 'label-info': tweet.sentiment.score == 0, 'label-danger': tweet.sentiment.score < 0}">
                    {{tweet.sentiment.score}}
                </span>
            </small>
        </h2>

        <p>
            {{tweet.text}}
        </p>
        <p>
            <span class="label label-primary" ng-repeat="categorie in tweet.categories">{{categorie}}</span>
        </p>
    </div>
</div>
